.Navbar {
  font-family: 'Alfa Slab One', cursive;
    font-size: 15px;
    background-color: #1e075c;
    opacity: 0.9;
    color: white;
    margin: 0px;
    padding: 6px;
}

.Navbar a:link,
a:visited {
  background-color:  #1e075c;
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Navbar a:hover,
a:active {
  color: white;
  background-color: #70204c;
  border-radius: 5px;
}