.NewArticle {
  font-family: 'Thasadith', sans-serif;
  background-color: #70204c;
  color: white;
  margin: 5px;
  padding: 1px;
  border-radius: 10px;
}

.New-title {
  width: 70%;
}

.Select-topic {
  width: 70%;
}

.New-body {
  width: 70%;
  height: 200px;
}