.Title {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.2em;
    font-weight: bold;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 1px;
    opacity: 0.8;
}