.Topics {
    font-family: "Krub", sans-serif;
    background-color: #ffffff;
    color: black;
    opacity: 0.8;
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
  
  }
  
  ul {
    text-align: justify;
    list-style: none;
  }