.App-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.App-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-style: dashed;
}

.App-profile {
  grid-column: 2 / end;
  grid-row: 1 / 2;
  border-style: dashed;
}

.App-navbar {
  grid-column: 1 / end;
  grid-row: 2 / 3;
  border-style: dashed;
}

.App-home {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  border-style: dashed;
}

.App-filter {
  grid-column: 3 / end;
  grid-row: 3 / 4;
  border-style: dashed;
}

.App-newarticle {
  grid-column: 3 / end;
  grid-row: 4 / 5;
  border-style: dashed;
}

.App-footer {
  grid-column: 1 / end;
  grid-row: 5 / end;
  border-style: dashed;
}
