.App-container {
  text-align: center;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 9em 2em 1fr 1em;
}

.App-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.App-profile {
  grid-column: 2 / end;
  grid-row: 1 / 2;
}

.App-navbar {
  grid-column: 1 / end;
  grid-row: 2 / 3;
}

.App-mainbox {
  grid-column: 1 / end;
  grid-row: 3 / 4;
}

.Home {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 10em 16em;
}

.Filter {
  grid-column: 2 / end;
  grid-row: 1 / 2;
}

.NewArticle {
  grid-column: 2 / end;
  grid-row: 2 / end;
}

.App-footer {
  grid-column: 1 / end;
  grid-row: 4 / end;
}
