.Articles {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: black;
  opacity: 0.9;
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
}

.Articles a {
  color: black;
}

.Individual-article {
  text-align: justify;
  border-style: dashed;
  border-color: #6e6e6e;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
}

.Articles button {
  background-color: #6e6e6e;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}

.Articles button:hover,
button:active {
  background-color: white;
  border: none;
  color: #6e6e6e;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
