.Comments {
  font-family: "Montserrat", sans-serif;
  background-color: #ce1400;
  color: white;
  margin: 5px;
  padding: 1px;
  border-radius: 10px;
}

.Comments a {
  color: white;
}

.Individual-comment ul {
  text-align: justify;
  border-style: dashed;
  border-color: #6e6e6e;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
}

.New-comment-body {
  width: 80%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
}

.Comments button {
  background-color: #6e6e6e;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}

.Comments button:hover,
button:active {
  background-color: white;
  border: none;
  color: #6e6e6e;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
