.Logged-in {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.9;
}

.Login {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.9;
}
