.Navbar {
  font-family: 'Coiny', cursive;
  font-size: 40px;
  background-color: #6e6e6e;
  opacity: 0.9;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.Navbar a:link,
a:visited {
  background-color: #6e6e6e;
  color: white;
  text-align: center;
  text-decoration: none;
}

.Navbar a:hover,
a:active {
  color: #6e6e6e;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
