.NewArticle {
  font-family: "Thasadith", sans-serif;
  background-color: #d35400;
  color: white;
  margin: 5px;
  padding: 1px;
  border-radius: 10px;
  font-size: 30px;
}

.New-title {
  width: 80%;
}

.Select-topic {
  width: 80%;
}

.New-article-body {
  width: 80%;
  height: 200px;
}

.NewArticle a {
  color: white;
}
