.NewArticle {
  font-family: 'Montserrat', sans-serif;
  background-color: #CE1400;
  color: white;
  margin: 5px;
  padding: 1px;
  border-radius: 10px;
  font-size: 30px;
}

.New-title {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
}

.Select-topic {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
}

.New-article-body {
  width: 70%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
}

.NewArticle a {
  color: white;
}
