.NewTopic {
  font-family: 'Roboto', sans-serif;
  background-color: #FC1800;
  color: white;
  margin: 5px;
  padding: 1px;
  border-radius: 10px;
  font-size: 30px;
}

.New-slug {
  width: 80%;
}

.New-description {
  width: 80%;
  height: 40px;
}
