.SingleUser {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: black;
  opacity: 0.9;
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
}

.SingleUser ul {
  text-align: center;
  list-style: none;
  border-style: none;
  background-color: #FC1800;
  color: white;
  margin: 5px;
  padding: 1px;
  border-radius: 10px;
  font-size: 30px;
}

img {
  border-radius: 10px;
}
