.SingleTopic {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: black;
  opacity: 0.9;
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
}

ul {
  text-align: justify;
  list-style: none;
}

.SingleTopic a {
  color: black;
}

.Individual-article-by-topic {
  border-style: dashed;
  border-color: #6e6e6e;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
}

.SingleTopic button {
  background-color: #6e6e6e;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}

.SingleTopic button:hover,
button:active {
  background-color: white;
  border: none;
  color: #6e6e6e;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
