.Topics {
  font-family: "Thasadith", sans-serif;
  background-color: #ffffff;
  color: black;
  opacity: 0.9;
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
}

ul {
  text-align: justify;
  list-style: none;
}

.Topics a {
  color: black;
}

.Individual-topic {
  border-style: dotted;
  border-color: #6e6e6e;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
}
