.Users {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: black;
  opacity: 0.9;
  margin: 10px;
  padding: 0px;
  border-radius: 10px;
}

ul {
  text-align: justify;
  list-style: none;
}

.Users a {
  color: black;
}

.Users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

img {
  border-radius: 10px;
}

.Individual-user {
  border-style: dashed;
  border-color: #6e6e6e;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
}
